<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= cliente.apellido %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= cliente.telefono %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= cliente.direccion %>
  </p>

</div>
