<div id="<%= dom_id ventum %>">
  <p>
    <strong>Cliente:</strong>
    <%= ventum.cliente_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= ventum.fecha %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= ventum.total %>
  </p>

  <p>
    <strong>Metodo pago:</strong>
    <%= ventum.metodo_pago %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= ventum.estado %>
  </p>

</div>
