<div id="<%= dom_id envio %>">
  <p>
    <strong>Venta:</strong>
    <%= envio.venta_id %>
  </p>

  <p>
    <strong>Direccion envio:</strong>
    <%= envio.direccion_envio %>
  </p>

  <p>
    <strong>Fecha envio:</strong>
    <%= envio.fecha_envio %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= envio.estado %>
  </p>

</div>
