<%= form_with(model: envio) do |form| %>
  <% if envio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(envio.errors.count, "error") %> prohibited this envio from being saved:</h2>

      <ul>
        <% envio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :venta_id, style: "display: block" %>
    <%= form.number_field :venta_id %>
  </div>

  <div>
    <%= form.label :direccion_envio, style: "display: block" %>
    <%= form.text_field :direccion_envio %>
  </div>

  <div>
    <%= form.label :fecha_envio, style: "display: block" %>
    <%= form.date_field :fecha_envio %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
