<div id="<%= dom_id detalles_ventum %>">
  <p>
    <strong>Venta:</strong>
    <%= detalles_ventum.venta_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= detalles_ventum.producto_id %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= detalles_ventum.cantidad %>
  </p>

  <p>
    <strong>Precio unitario:</strong>
    <%= detalles_ventum.precio_unitario %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= detalles_ventum.subtotal %>
  </p>

</div>
